<script type="text/javascript">
	var request = 'books';
	var idCookie = getCookie('id');
	if (idCookie != '') {
		request += '/' + idCookie;
		setCookie('id', idCookie, 0);
	}
	$.getJSON(request, function(data) {
		var table = $('<table><caption>List of Books</caption><tr><th>Title</th><th>Genres</th><th>Authors</th><th>Update</th></tr></table>');
		$.each(data, function(key, value) {
			var row = $('<tr></tr>');
			var titleCell = $('<td>' + value['title'] + '</td>');
			var genresCell = $('<td></td>');
			var list = $('<ul></ul>');
			for (var genre in value['genres']) {
				var listItem = $('<li></li>');
				listItem.append(value['genres'][genre]);
				list.append(listItem);
			};
			genresCell.append(list);
			var authorsCell = $('<td></td>');
			list = $('<ul></ul>');
			for (var author in value['authors']) {
				var listItem = $('<li></li>');
				listItem.append(value['authors'][author].name);
				list.append(listItem);
			};
			var updateCell = $('<td><button onclick=loadPage("' + value['bookId'] + ':updatebook")>Update</button></td>');
			authorsCell.append(list);
			$(row).append(titleCell);
			$(row).append(genresCell);
			$(row).append(authorsCell);
			$(row).append(updateCell);
			$(table).append(row);
		});
		$('#content').append(table);
	});
</script>